*{
    box-sizing: border-box;
}

/* Resets */
ul, ol{
    padding: 0;
}

li {
    list-style-type: none;
}

a{

    text-decoration: none;
}
/* Header */

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(137, 207, 216);
    
}
nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
    
}
header li{
    margin: 15px;
    font-family: 'Antonio', sans-serif;
    font-size: 30px;
}
header a{
    color:white
}

header img{
    width: 200px;
}
h1{
    font-family: 'Antonio', sans-serif;
    color: rgb(137, 207, 216);
    font-size: 400%;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.buscar {
    padding: 1px 10px;
    background-color:white;
    border-radius: 25px;
    font-family: 'Antonio', sans-serif;
    font-size: 23px;
    color:  rgb(137, 207, 216);
    

}

input {
    border: 0;
    padding: 8px 20px;
    background-color: white;
    
  
}

::placeholder{
    font-family: 'Antonio';
    font-size: 23px;
    color: rgb(137, 207, 216);
}

/* Generales */

.ca{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
}

/* TOP */
.top h2{
    text-align: center;
    font-size: 60px;
    font-family: 'Antonio', sans-serif;;
}
.top h3{
    text-align: center;
    font-size: 35px;
    font-family: 'Antonio', sans-serif;
}
.top{
    background-color: black;
}
.top a{
    color: white;

}
.top img{
    width: 25%;
}

.top ul{
    text-align:left;
    font-family: Arial;
    font-size: 40px;

}
/* Paulo */

.paulo{
    background-color: rgb(221, 202, 186)

}
.paulo h2{
    text-align: center;
    font-size: 70px;
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.paulo h3{
    text-align: center;
    font-size: 60px;
    font-family: 'Cookie', cursive;

}
.paulo img{
    width: 25%;

}
.paulo a{
    color: rgb(252, 53, 53);

}
.paulo ul{
    text-align:left;
    font-family: Arial;
    font-size: 40px;

}

/* Posty */

.posty{
    background-color: rgb(205, 75, 51);

}
.posty h2{
    text-align: center;
    font-size: 70px;
    font-family: 'Carter One', cursive;
}
.posty h3{
    text-align: center;
    font-size: 60px;
    font-family: 'Karantina', cursive;

}
.posty a{
    color:black;

}
.posty ul{
    text-align:left;
    font-family: Arial;
    font-size: 40px;
}
/* GENEROS */

.generos ul {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
/* subtitulos */

.rel {
    font-family: Verdana;
    color: rgb(137, 207, 216);
    font-size: 25px;
}

/* FOOTER */

footer{
    
    background-color: rgb(137, 207, 216);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer li, p{
    margin: 15px;
    font-family: 'Antonio', sans-serif;
    font-size: 30px;
    color: white;
}

footer img{
    width: 200px;
}