*{
    box-sizing: border-box;
    
}
/* Header */

header ul, header ol{
    padding: 0;
}

header li {
    list-style-type: none;
}

header a{
    text-decoration: none;
}
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(137, 207, 216);
    
}
nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
    
}
header li{
    margin: 15px;
    font-family: 'Antonio', sans-serif;
    font-size: 30px;
}
header a{
    color:white
}

header img{
    width: 200px;
}

.buscar {
    padding: 1px 10px;
    background-color:white;
    border-radius: 25px;
    font-family: 'Antonio', sans-serif;
    font-size: 23px;
    color:  rgb(137, 207, 216);
    

}

input {
    border: 0;
    padding: 8px 20px;
    background-color: white;
    
  
}

::placeholder{
    font-family: 'Antonio', sans-serif;
    font-size: 23px;
    color: rgb(137, 207, 216);
}


/* MAIN */

h1{
    font-family: 'Antonio', sans-serif;
    color: rgb(137, 207, 216);
    font-size: 400%;
}
article{
    background-color: rgb(205, 75, 51);
}

main img{
    width: 300px;
}

main h2{
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a{
    text-decoration: none;
    color: black;
    font-family: Arial;
}
/* FOOTER */

footer{
    
    background-color: rgb(137, 207, 216);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer li, p{
    margin: 15px;
    font-family: 'Antonio', sans-serif;
    font-size: 30px;
    color: white;
    list-style-type: none;
}

footer img{
    width: 200px;
}


