

*{
    box-sizing: border-box;
}



header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(137, 207, 216);
    
}
nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
    
}
header li{
    margin: 15px;
    font-family: 'Antonio', sans-serif;
    font-size: 30px;
    list-style-type: none;
}
header a{
    color:white;
    text-decoration: none;
}

header img{
    width: 200px;
}
h1{
    font-family: 'Antonio', sans-serif;
    color: rgb(137, 207, 216);
    font-size: 400%;
}

.buscar {
    padding: 1px 10px;
    background-color:white;
    border-radius: 25px;
    font-family: 'Antonio', sans-serif;
    font-size: 23px;
    color:  rgb(137, 207, 216);
    

}

input {
    border: 0;
    padding: 8px 20px;
    background-color: white;
    
  
}

::placeholder{
    font-family: 'Antonio', sans-serif;
    font-size: 23px;
    color: rgb(137, 207, 216);
}


/*MAIN*/

li{

	list-style-type: none;
}




h1{
    font-family: 'Antonio', sans-serif;
    color: rgb(137, 207, 216);
    font-size: 400%;}

h2{
    color: black;
    text-align: center;
    font-size: 51px;
    font-family: 'Cookie', cursive;
    }

article{
    
    background-color: rgb(205, 75, 51);
    
}

a{
    text-decoration: none;
    color: black;
    font-family: Arial;
}

ul{

    text-decoration: none;
	font-family: 'Arial';
}

.imagen{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   }

.imagen img{
    width: 25%;
    border-radius: 10px;
    margin-left: 10px;

}





 .head h2{
    
    text-align: center;
    font-size: 60px;
    font-family: 'Cookie', cursive;
	
}

.imagen a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
	
}
.imagen ul{
    text-align:left;
    font-family: Arial;
    font-size: 20px;

}

 

audio{

margin-top:  10px;
}



.boton {


	padding: 10px 30px;
	background-color: black;
	border-radius: 25px;

	

}

.boton a{

	color: white;
	text-decoration: none;
	font-family: 'Arial';
}

/*Footer*/

footer{
    
    background-color: rgb(137, 207, 216);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer li, p{
    margin: 15px;
    font-family: 'Antonio', sans-serif;
    font-size: 30px;
    color: white;
    list-style-type: none;
}

footer img{
    width: 200px;
}
