*{
    box-sizing: border-box;

    
}
/* Header */
header li {
    list-style-type: none;
}

header a{

    text-decoration: none;
}
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(137, 207, 216);
    
}
nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
    
}
header li{
    margin: 15px;
    font-family: 'Antonio', sans-serif;
    font-size: 30px;
}
header a{
    color:white
}

header img{
    width: 200px;
}
h1{
    font-family: 'Antonio', sans-serif;
    color: rgb(137, 207, 216);
    font-size: 400%;
}

/* Main */
 .album {
       background-color: rgb(221, 202, 186)
 }
  
main h2{
    color: rgb(252, 53, 53);
    text-align: center;
    font-size: 51px;
    font-family: 'Cookie', cursive;
    text-decoration: underline;
    text-decoration-style: double;
}
main h3{
    color: rgb(252, 53, 53);
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 35px;
}

main img{
    width: 300px;
    border: solid 3px black;
}

main h4{
    color: rgb(252, 53, 53);
}
/* FOOTER */

footer{
    
    background-color: rgb(137, 207, 216);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer li, p{
    margin: 15px;
    font-family: 'Antonio', sans-serif;
    font-size: 30px;
    color: white;
}

footer img{
    width: 200px;
}
